/* The css style page */

main {
	margin: 0 10%;
}

h2,h3,h4 {
	border-bottom: solid 2px black;
	margin-top:0;
}

.bookImage{
	display: block;
	width: 7em;
}

#globalHeader h1{
	text-align: center;
	
}
#globalHeader img{
	width: 100px;
	float: left;
}
#globalHeader nav ul{

	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	list-style-type:none;
}
#globalHeader nav a{
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
}

.hidden{
	display: none;
}

.booksList{
	display: grid;
	grid-template-columns: auto auto;
}

.bookBlock {
	display: grid;
	grid-template-columns: 7em auto;
	margin: 0;
}
.bookBlock figcaption {
	padding: 0 1em;
}

#paymentOptions img{
	height: 70px;
	
}

#myForm{
	background: lightgray;
	border: 2px solid black;
	border-radius: 4px;
	padding: 1em;
	
}
#issues {
	background: pink;
	border: solid 2px red;
}

@media screen and (max-width: 800px) {
	body{
		font-size: 1.2em;
	}
	main {
		margin: 0;
	}
	.booksList{
		display: block;
	}
}

